{include file="./header.tpl"}

<div id="page">
	{include file="./banner.tpl"}

	{include file="./navigation.tpl"}

{if $role_admin}
	<div id="admin-nav">
		<ul>
			<li><a href="javascript:news_create_show();">[News schreiben]</a></li>
		</ul>
		{* Include the page editor here when we are in admin role.. The editor template takes care itself if it is in editmode or not.. *}
		{include file="../page_editor.tpl"}
	</div>
{/if}

	<div id="content">
		<div id="sponsoren">{$SPONSOREN}</div>

		{foreach $NEWSLISTE as $NEWS}
		{strip}
		<div id="news_eintrag">
			<h2><a href="?p={$PAGEID}&news={$NEWS.eintragid}">{$NEWS.title}</a></h2>
			{if $role_admin}
				<p class="small"><a href="javascript:news_editor_show({$NEWS.eintragid})">[News bearbeiten]</a></p>
			{/if}
			<p>{$NEWS.short}<br><a href="?p={$PAGEID}&news={$NEWS.eintragid}">[mehr...]</a></p>
			<p class="small">Geschrieben am {$NEWS.date} von {$NEWS.author}</p>
		</div>
		{/strip}
		{/foreach}
	</div>
</div>
{include file="./footer.tpl"}


