{include file="./header.tpl"}

<div id="page">
	{include file="./banner.tpl"}

	{include file="./navigation.tpl"}

	<div id="content" {if $SPONSOREN}class="with_sponsor"{/if}>
	{if isset($rechnung_block)}
	{if $rechnung_block eq 'overview'}
		{include file="./block.mycamp_rechnung_overview.tpl"}
	{elseif $rechnung_block eq 'anmeldung'}
		{include file="./block.mycamp_rechnung_anmeldung.tpl"}
	{/if}
	{else}
		<p class="error">Die Erweiterung Rechnung ist noch vollst&auml;ndig installiert.</p>
	{/if}
	</div>

	{if $SPONSOREN}
	<div id="sponsoren">{$SPONSOREN}</div>
	{/if}
</div>

{include file="./footer.tpl"}
