{include file="./header.tpl"}

<div id="page">
	{include file="./banner.tpl"}

	{include file="./navigation.tpl"}

	{if $role_admin}
		<div id="admin-nav">
			<ul>
				<li><a href="javascript:editor_show();">[News bearbeiten]</a></li>
				<li><a href="javascript:news_delete_show();">[News löschen]</a></li>
			</ul>
		</div>
	{/if}

	<div id="content" {if $SPONSOREN}class="with_sponsor"{/if}>
		<div id="news_eintrag">
			<h2>{$title}</h2>
			<p>{$txt}</p>
			<p class="small">Geschrieben am {$date} von {$author}</p>
		</div>
	</div>

	{if $SPONSOREN}
	<div id="sponsoren">{$SPONSOREN}</div>
	{/if}
</div>

{include file="./footer.tpl"}


