{include file="./header.tpl"}

<div id="page">
	{include file="./banner.tpl"}

	{include file="./navigation.tpl"}


	<div id="content" {if $SPONSOREN}class="with_sponsor"{/if}>
		{foreach $NEWSLISTE as $NEWS}
		{strip}
		<div id="news_eintrag">
			<h2><a href="?p={$PAGEID}&news={$NEWS.eintragid}">{$NEWS.title}</a></h2>
			{if $role_admin}
				<p class="small"><a href="javascript:news_editor_show({$NEWS.eintragid})">[News bearbeiten]</a></p>
			{/if}
			<p>{$NEWS.short}<br><a href="?p={$PAGEID}&news={$NEWS.eintragid}">[mehr...]</a></p>
			<p class="small">Geschrieben am {$NEWS.date} von {$NEWS.author}</p>
		</div>
		{/strip}
		{/foreach}
	</div>

	{if $SPONSOREN}
	<div id="sponsoren">{$SPONSOREN}</div>
	{/if}
</div>
{include file="./footer.tpl"}


