
{include file="./header.tpl"}

<div id="page">
	{include file="./banner.tpl"}
	{include file="./navigation.tpl"}

<div id="content">
{if isset($events_block)}

  {if $events_block eq 'events_login_required'}
		{include file='./block.events_login_required.tpl'}
	{elseif $events_block eq 'events_form'}
		{include file='./block.events_form.tpl'}
	{elseif $events_block eq 'events_registration_successfull'}
		{include file='./block.events_registration_successfull.tpl'}
	{else}
<!-- Block: {$events_block|default:'unknown'} -->
	{/if}

{else}

<p class="error">
Die Installation der Event-Erweiterung ist nicht vollst&auml;ndig. Bitte wenden Sie sich an den Webmaster.
</p>

{/if}

    </div>
  </div>
{include file="./footer.tpl"}

