{extends file="./layout.tpl"}

{block name=content}
<div class="container single">
{if isset($events_block)}

  {if $events_block eq 'events_login_required'}
		{include file='./block.events_login_required.tpl'}
	{elseif $events_block eq 'events_form'}
		{include file='./block.events_form.tpl'}
	{elseif $events_block eq 'events_registration_successfull'}
		{include file='./block.events_registration_successfull.tpl'}
	{elseif $events_block eq 'events_admin_selector'}
		{include file='./block.events_admin_selector.tpl'}
	{elseif $events_block eq 'events_admin_list_registrations'}
		{include file='./block.events_admin_list_registrations.tpl'}
	{elseif $events_block eq 'events_admin_registration_comments'}
		{include file='./block.events_admin_registration_comments.tpl'}
	{else}
<!-- Block: {$events_block|default:'unknown'} -->
	{/if}

{else}

<p class="error">
Die Installation der Event-Erweiterung ist nicht vollst&auml;ndig. Bitte wenden Sie sich an den Webmaster.
</p>

{/if}

    </div>
  </div>
</dib>
{/block}
