@import url('//fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600&subset=latin,latin-ext');
@import url('//fonts.googleapis.com/css?family=Crete+Round&subset=latin,latin-ext');

body {
    background: #fff;
    color: #585858;
    font-family: "Open Sans", Arial, sans-serif;
    margin: 0;
    padding: 0;
}
p {
    color: #333;
    font-size: 80%;
    font-weight: 300;
    line-height: 22px;
}
a,
a:visited {
    color: #585858;
    text-decoration: none;
}
h1 {
    font-size: 1.8em;
    line-height: 1.23em;
}
h2 {
    font-size: 22px;
}
h3 {
    font-family: 'Crete Round', Georgia, serif;
    font-size: 24px;
    font-weight: 400;
    padding: 20px 0;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 16px;
    padding-bottom: 10px;
}
h6 {
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 10px;
}
h5 b {
    font-weight: 700;
}
ul {
    font-size: 14px;
    margin: 7px 0;
    padding-left: 10px;
}
ul li {
    margin-bottom: 5px;
}
.container .clear,
body .clear {
    clear: both;
    float: left;
    margin: 20px 0;
    width: 100%;
}
.one-third {
    text-align: center;
}
header {
    background: url(../images/misc/banner.jpg) no-repeat center -1px fixed;
    clear: both;
    float: left;
    height: 400px;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 1;
}
header nav {
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .3);
    background: #fff;
    border-top: 2px solid #FF6A00;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .3);
    float: left;
    margin: 0;
    padding: 25px 0 20px;
    position: relative;
    width: 100%;
    z-index: 1;
}
header .slogan {
    float: left;
    padding: 80px 0;
}
header .slogan a.green {
    margin: 13px 0;
    padding: 10px 28px;
}
header p {
    color: #fff;
}
header h1,
header h2,
header h4 {
    clear: both;
    color: #fff;
    float: left;
    font-weight: 600;
    text-align: left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    width: 100%;
}
header h1 {
    font-size: 3em;
    margin-bottom: 10px;
}
header h2 {
    font-size: 2em;
}
header h4 {
    font-weight: 400;
    margin-bottom: 10px;
}
.logo a {
    color: #444;
    line-height: 20px;
    text-decoration: none;
}
.logo a:hover {
    color: #FF6A00;
}
ul.mainMenu {
    float: right;
    margin: 0;
	position: relative;
	display: inline-table;
	padding: 0px;
}
u.mainMenul:after {
	content: ""; clear: both; display: block;
}
ul.mainMenu li {
    display: inline;
    float: left;
    margin: 2px 10px;
}
ul.mainMenu li a {
    color: #444;
    font-size: 13px;
    text-decoration: none;
}

ul.mainMenu li a:hover {
    -moz-transition: color .12s ease-in-out;
    -ms-transition: color .12s ease-in-out;
    -o-transition: color .12s ease-in-out;
    -webkit-transition: color .12s ease-in-out;
    color: #FF6A00;
    transition: color .12s ease-in-out;
}

ul.mainMenu ul {
	display: none;
	background: rgba(255, 106, 0, 0.7);
	position: absolute;
	top: 100%;
	padding: 5px 0px;
	margin-top: 0px;
}

ul.mainMenu li:hover > ul {
	display: block;
}
ul.mainMenu ul li {
	float: none;
	display:block;
	position: relative;
	padding:3px;
}
ul.mainMenu ul li a {
	padding: 10px;
	color: #fff;
}
ul.mainMenu ul li a:hover {
    color: #444;
}
.orange {
    background: #ff6a00;
    clear: both;
    color: #fff;
    float: left;
    margin: 50px 0;
    padding: 45px 0;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 1;
}
.orange h2 {
    margin: 20px 0 50px;
    text-align: center;
    text-shadow: none;
    width: 100%;
}
.orange p {
    color: #fff;
    margin: 0 auto 30px;
    text-align: center;
    width: 600px;
}
.orange a.dalej {
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    background: #df4a00;
    border-radius: 30px;
    color: #fff;
    display: block;
    font-size: 12px;
    margin: 0 auto 20px;
    padding: 10px 20px;
    text-transform: uppercase;
    width: 185px;
}
.orange a.dalej:hover {
    background: #fff;
    color: #ff6a00;
}
.gray {
    background: #f6f6f6;
    clear: both;
    float: left;
    margin: 50px 0;
    padding: 45px 0;
    position: relative;
    width: 100%;
    z-index: 1;
}
.form h3,
.form p {
    text-align: center;
}
form {
    margin: 30px auto;
    text-align: center;
    width: 500px;
}
input,
label,
textarea {
    float: left;
    margin: 0;
    padding: 0;
    width: 500px;
}
label {
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 7px;
    text-transform: uppercase;
}
input {
    margin-bottom: 20px;
    padding: 7px 0;
    text-align: center;
}
input,
textarea {
    border: 1px solid #ddd;
    outline: none;
}
input:focus,
textarea:focus {
    border-color: #b6b6b6;
}
textarea {
    padding: 7px 10px;
    width: 480px;
}
input.error,
textarea.error {
    border-color: #cc4847;
}
input[type=submit] {
    background: #eee;
    border: none;
    color: #aaa;
    cursor: pointer;
    font-size: 16px;
    padding: 12px 0;
    width: 502px;
}
input[type=submit]:hover {
    background: #1EBA6B;
    color: #fff;
}
.focus h3 {
    margin-bottom: 15px;
}
.focus h4,
.focus h3 {
    float: left;
    margin-bottom: 7px;
    text-align: center;
    width: 100%;
}
.focus p {
    text-align: center;
}
.gallery a {
    float: left;
    height: 100px;
    margin: 5px;
    overflow: hidden;
    width: 140px;
}
.gallery a img {
    height: 95px;
}
a#top {
    background: #ff6a00;
    bottom: 50px;
    color: #fff;
    display: none;
    font-size: 14px;
    font-weight: 300;
    height: 17px;
    padding: 5px;
    position: fixed;
    right: 60px;
    width: 7px;
    z-index: 9;
}
.button {
    -moz-border-radius: 2px;
    -moz-transition: background .12s ease-in-out;
    -ms-transition: background .12s ease-in-out;
    -o-transition: background .12s ease-in-out;
    -webkit-border-radius: 2px;
    -webkit-transition: background .12s ease-in-out;
    border-radius: 2px;
    color: #fff;
    float: left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    text-transform: uppercase;
    transition: background .12s ease-in-out;
}
.medium {
    font-size: 12px;
    margin: 5px 0;
    padding: 9px 14px 8px;
}
a.green {
    -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2), 0 1px 0 0 rgba(255, 255, 255, .2) inset;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2), 0 1px 0 0 rgba(255, 255, 255, .2) inset;
    background: #45C491;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2), 0 1px 0 0 rgba(255, 255, 255, .2) inset;
    color: #fff;
}
a.green:hover {
    background: #36ae7e;
}
footer {
    background: #333;
    float: left;
    margin: 20px 0 0;
    padding: 30px 0;
    width: 100%;
}
footer h5 {
    color: #ccc;
}
footer p {
    color: #aaa;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 7px;
}
footer a {
    color: #ddd;
}
footer a:hover {
    color: #ff6a00;
}
footer .social a {
    float: left;
    margin-right: 10px;
}
footer .social a img {
    opacity: 0.4;
    width: 35px;
}
footer .social a:hover img {
    opacity: 1;
}
@media only screen and max-width 767px and min-width 480px {
    header h2 {
        display: none;
    }
    header .slogan {
        padding-top: 40px;
    }
    nav .container .logo {
        margin-bottom: 20px;
        text-align: center;
    }
    .orange p {
        width: 400px;
    }
    form,
    label,
    input {
        width: 400px;
    }
    input[type=submit] {
        width: 402px;
    }
    textarea {
        width: 380px;
    }
    .container .one-third.column,
    .container .eight.columns,
    .container .four.columns {
        margin-bottom: 40px;
    }
}
@media only screen and max-width 767px {
    header {
        height: 310px;
    }
    header h2,
    header .six.columns {
        display: none;
    }
    header .slogan {
        padding: 30px 0;
    }
    nav .container .logo {
        margin-bottom: 20px;
        text-align: center;
    }
    .orange p {
        width: 200px;
    }
    form,
    label,
    input {
        width: 300px;
    }
    input[type=submit] {
        width: 302px;
    }
    textarea {
        width: 280px;
    }
    .container .one-third.column,
    .container .eight.columns,
    .container .four.columns {
        margin-bottom: 40px;
    }
}
