@import url('//fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600&subset=latin,latin-ext');
@import url('//fonts.googleapis.com/css?family=Crete+Round&subset=latin,latin-ext');

body {
    background: #fff;
    color: #585858;
    font-family: "Open Sans", Arial, sans-serif;
    margin: 0;
    padding: 0;
}
p {
    color: #333;
    font-size: 90%;
    font-weight: 300;
    line-height: 22px;
	margin-top: 1em;
}
strong {
	font-weight: bolder;
}
a,
a:visited {
    color: #585858;
    text-decoration: none;
}
h1 {
    font-size: 1.8em;
    line-height: 1.23em;
    padding: 2em 0;
}
h2 {
    font-size: 22px;
    padding: 2em 0;
}
h3 {
    font-family: 'Crete Round', Georgia, serif;
    font-size: 24px;
    font-weight: 400;
    padding: 1.5em 0;
}
h4 {
    font-size: 18px;
    padding: 1em 0;
}
h5 {
    font-size: 16px;
    padding: 1em 0;
}
h6 {
    font-size: 14px;
    font-weight: 700;
    padding: 1em 0;
}
h5 b {
    font-weight: 700;
}
ul {
    font-size: 14px;
    margin: 7px 0;
    padding-left: 10px;
}
ul li {
    margin-bottom: 5px;
}
.container .clear,
body .clear {
    clear: both;
    float: left;
    margin: 20px 0;
    width: 100%;
}
.one-third {
    text-align: center;
}
header {
    clear: both;
    float: left;
    height: 200px;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 1;
}
header nav {
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .3);
    background: #fff;
    border-top: 2px solid #57c4ff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .3);
    float: left;
    margin: 0;
    padding: 8px 0;
    position: relative;
    width: 100%;
    z-index: 1;
}
.slogan {
	margin: 0 auto;
	margin-bottom: 10px;
	padding: 150px 0 20px 0;
	max-width: 1440px;
	min-height: 230px;
	color: #fff;
	background: #57c4ff;
	background: -moz-linear-gradient(-45deg, #57c4ff 0%, #57c4ff 15%, #66bc1b 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, #57c4ff), color-stop(15%, #57c4ff), color-stop(100%, #66bc1b));
	background: -webkit-linear-gradient(-45deg, #57c4ff 0%, #57c4ff 15%, #66bc1b 100%);
	background: -o-linear-gradient(-45deg, #57c4ff 0%, #57c4ff 15%, #66bc1b 100%);
	background: -ms-linear-gradient(-45deg, #57c4ff 0%, #57c4ff 15%, #66bc1b 100%);
	background: linear-gradient(135deg, #57c4ff 0%, #57c4ff 15%, #66bc1b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#57c4ff', endColorstr='#66bc1b', GradientType=1 );
}
.slogan .columns {
	padding: 10px 0;
}
.slogan p {
	color: #fff;
}
.slogan a.green {
    margin: 13px 0;
    padding: 10px 28px;
}
.slogan h1,
.slogan h2,
.slogan h4 {
    clear: both;
    color: #fff;
    float: left;
    font-weight: 600;
    text-align: left;
    text-shadow: 0 3px 3px rgba(0, 0, 0, .2);
    width: 100%;
	padding: 0;
}
.slogan h1 {
    font-size: 3em;
    margin-bottom: 10px;
}
.slogan h2 {
    font-size: 2em;
}
.slogan h4 {
    font-weight: 400;
    margin-bottom: 10px;
}
.logo a {
    color: #444;
    line-height: 20px;
    text-decoration: none;
}
.logo a:hover {
    color: #57c4ff;
}
ul.mainMenu {
    float: right;
    margin: 115px 0px 0px 0px;
	position: relative;
	display: inline-table;
	padding: 0px;
}
u.mainMenul:after {
	content: ""; clear: both; display: block;
}
ul.mainMenu li {
    display: inline;
    float: left;
    margin: 2px 10px;
}
ul.mainMenu li a {
    color: #444;
    font-size: 13px;
    text-decoration: none;
}

ul.mainMenu li a:hover {
    -moz-transition: color .12s ease-in-out;
    -ms-transition: color .12s ease-in-out;
    -o-transition: color .12s ease-in-out;
    -webkit-transition: color .12s ease-in-out;
    color: #57c4ff;
    transition: color .12s ease-in-out;
}

ul.mainMenu ul {
	display: none;
	background: rgba(87, 196, 255, 0.78);
	position: absolute;
	top: 100%;
	padding: 5px 0px;
	margin-top: 0px;
}

ul.mainMenu li:hover > ul {
	display: block;
}
ul.mainMenu ul li {
	float: none;
	display:block;
	position: relative;
	padding:3px;
}
ul.mainMenu ul li a {
	padding: 10px;
	color: #222;
}
ul.mainMenu ul li a:hover {
    color: #666;
}
.orange {
    background: #67bc1b;
    clear: both;
    color: #fff;
    float: left;
    margin: 50px 0;
    padding: 45px 0;
    position: relative;
    text-align: center;
    width: 100%;
}
.orange h2, .orange h3 {
    margin: 20px 0 50px;
	padding: 0;
    text-align: center;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .5);
    width: 100%;
}
.orange p {
    color: #fff;
    margin: 0 auto 30px;
    text-align: center;
    width: 600px;
}
.orange a.dalej {
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    background: #67bc1b;
    border-radius: 30px;
    color: #fff;
    display: block;
    font-size: 12px;
    margin: 0 auto 20px;
    padding: 10px 20px;
    text-transform: uppercase;
    width: 185px;
}
.orange a.dalej:hover {
    background: #fff;
    color: #67bc1b;
}
.gray {
    background: #f6f6f6;
    clear: both;
    float: left;
    margin: 50px 0;
    padding: 45px 0;
    position: relative;
    width: 100%;
}
div.single {
	min-height: 500px;
}
.form h3,
.form p {
    text-align: center;
}
form {
    margin: 30px auto;
    text-align: center;
    width: 500px;
}
input,
label,
select,
textarea {
    float: left;
    margin: 0;
    padding: 0;
    width: 500px;
}
label, legend {
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 7px;
    text-transform: uppercase;
}
input, button, select{
    margin-bottom: 20px;
    padding: 7px 0;
    text-align: center;
}
input, button, textarea, select {
    border: 1px solid #ddd;
    outline: none;
}
input:focus,
textarea:focus {
    border-color: #b6b6b6;
}
textarea {
    padding: 7px 10px;
    width: 480px;
}
input.error,
textarea.error {
    border-color: #cc4847;
}
input[type=submit], button {
    background: #eee;
    border: none;
    color: #aaa;
    cursor: pointer;
    font-size: 16px;
    padding: 12px 0;
    width: 502px;
}
input[type=submit]:hover, button:hover {
    background: #1EBA6B;
    color: #fff;
}
input[type=radio], input[type=checkbox] {
	margin: 5px;
	width: 20px;
	float: none;
}
input[type=radio] ~ label, input[type=checkbox] ~ label{
	float:none;
	width:465px;
	text-align: left;
	display: inline-block;
}
.focus h3 {
    margin-bottom: 15px;
}
.focus h4,
.focus h3 {
    float: left;
    margin-bottom: 7px;
    text-align: center;
    width: 100%;
}
.focus p {
    text-align: center;
}
a#top {
    background: #67bc1b;
    bottom: 50px;
    color: #fff;
    display: none;
    font-size: 14px;
    font-weight: 300;
    height: 17px;
    padding: 5px;
    position: fixed;
    right: 60px;
    width: 7px;
    z-index: 9;
}
.button {
    -moz-border-radius: 2px;
    -moz-transition: background .12s ease-in-out;
    -ms-transition: background .12s ease-in-out;
    -o-transition: background .12s ease-in-out;
    -webkit-border-radius: 2px;
    -webkit-transition: background .12s ease-in-out;
    border-radius: 2px;
    color: #fff;
    float: left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
    text-transform: uppercase;
    transition: background .12s ease-in-out;
}
.medium {
    font-size: 12px;
    margin: 5px 0;
    padding: 9px 14px 8px;
}
a.green {
    -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2), 0 1px 0 0 rgba(255, 255, 255, .2) inset;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2), 0 1px 0 0 rgba(255, 255, 255, .2) inset;
    background: #45C491;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2), 0 1px 0 0 rgba(255, 255, 255, .2) inset;
    color: #fff;
}
a.green:hover {
    background: #36ae7e;
}
footer {
    background: #333;
    float: left;
    margin: 20px 0 0;
    padding: 30px 0;
    width: 100%;
}
footer h5 {
    color: #ccc;
}
footer p {
    color: #aaa;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 7px;
}
footer a {
    color: #ddd;
}
footer a:hover {
    color: #67bc1b;
}
footer .social a {
    float: left;
    margin-right: 10px;
}
footer .social a img {
    opacity: 0.4;
    width: 35px;
}
footer .social a:hover img {
    opacity: 1;
}
form div.bdate {
	width: 500px;
}
form div.doubleform {
	width: 500px;
}
form div.doubleform input, form div.doubleform select, form div.doubleform label{
	width: 49%;
}
table th {
	text-align: left;
	font-weight: bold;
}
table td, table th {
	border: 0;
	padding: 6px;
}
table.vertical th {
	text-align: right;
}

@media only screen and (max-width: 767px) and (min-width: 480px) {
    header h2 {
        display: none;
    }
    header .slogan {
        padding-top: 40px;
    }
    nav .container .logo {
        margin-bottom: 20px;
        text-align: center;
    }
    .orange p {
        width: 400px;
    }
    .logo img {
		width: 10px;
		height: auto;
	}
    form,
    label,
    input {
        width: 400px;
    }
    input[type=submit] {
        width: 402px;
    }
    textarea, form div.doubleform, form div.bdate {
        width: 380px;
    }
    .container .one-third.column,
    .container .eight.columns {
        margin-bottom: 40px;
    }
	ul.mainMenu {
		float: none;
	}
    ul.mainMenu::before {
		display: block;
		font-size: 2em;
		content: "\2630 Menu";
		padding: 5px;
	}
    ul.mainMenu li {
		float: none;
		display: none;
	}
    ul.mainMenu:hover li {
		display: block;
	}
    ul.mainMenu li a {
		font-size: 1.3em;
		line-height: 1.4em;
	}
	ul.mainMenu ul {
		background: none;
		position: relative;
	}
	ul.mainMenu ul li {
		float: none;
		display: block;
		position: relative;
		padding: 3px;
	}
	ul.mainMenu ul li a {
		color: black;
	}
	input[type=radio], input[type=checkbox] {
		margin: 2px;
		width: 15px;
	}
	input[type=radio] ~ label, input[type=checkbox] ~ label{
		width: 370px;
	}
}
@media only screen and (max-width: 767px) {
    header {
        height: 100px;
    }
    header h2,
    header .four.columns {
        display: none;
    }
    header .slogan {
        padding: 30px 0;
    }
    ul.mainMenu {
		margin: 0;
	}
    nav .container .logo {
        margin-bottom: 20px;
        text-align: center;
    }
    .orange p {
        width: 200px;
    }
    form,
    label,
    input {
        width: 300px;
    }
    input[type=submit] {
        width: 302px;
    }
    textarea, form div.doubleform, form div.bdate {
        width: 280px;
    }
    .container .one-third.column,
    .container .eight.columns {
        margin-bottom: 40px;
    }
    ul.mainMenu {
		float: none;
	}
    ul.mainMenu::before {
		display: block;
		font-size: 2em;
		content: "\2630 Menu";
		padding: 5px;
	}
    ul.mainMenu li {
		float: none;
		display: none;
	}
    ul.mainMenu:hover li {
		display: block;
	}
    ul.mainMenu li a {
		font-size: 1.3em;
		line-height: 1.4em;
	}
	ul.mainMenu ul {
		background: none;
		position: relative;
	}
	ul.mainMenu ul li {
		float: none;
		display: block;
		position: relative;
		padding: 3px;
	}
	ul.mainMenu ul li a {
		color: black;
	}
	input[type=radio], input[type=checkbox] {
		margin: 2px;
		width: 15px;
	}
	input[type=radio] ~ label, input[type=checkbox] ~ label{
		width: 270px;
	}
}
